#active-wrap {
    width: 100%;
    position: absolute;
    z-index: 20;
    height: 100vh;
    background-color: rgba($black, 0.6);
    display: none;
    ul {
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(50%, 65%);
        width: 50%;
        li {
            height: 57px;
            padding-left: 3.8rem;
            line-height: 57px;
            background-color: $white;
            transition: all 0.5s 0s ease;
            &:hover {
                color: $white;
                background-color: $black;
            }
            a {
                display: inline-block;
                width: 100%;
                i {
                    margin-left: 100px;
                }
            }
        }
    }
}

